
.center {
  display: grid;
  height: inherit;
  place-items: center;
}

.button {
  position: relative;
  z-index: 1;
  background: rgb(223, 55, 223);
  border: 2px solid;
  border-color: rgb(230, 137, 230);
  border-radius: 0.75rem;
  color: #000;
  text-decoration: none;
  transition: 250ms ease-in-out;
  transition-property: all;
}

.button:hover,
.button:focus {
  color: rgb(0, 0, 0);
  background-color: #f1f1f1;
  border-color: rgb(230, 137, 230);
  transform: scale(1.1);
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
  border-radius: inherit;
  box-shadow: 0 0 1em 0.5em var(--purple-300);
  transition: 250ms ease-in-out;
  transition-property: opacity;
}

.button:hover::after,
.button:focus::after {
  opacity: 0.5;
}

.collapsible {
background-color: #888;
color: white;
cursor: pointer;
padding: 10px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 14px;
}

.active, .collapsible:hover {
background-color: #669;
}

.collapsible:after {
content: '\002B';
color: white;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.content {
padding: 0 5px;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
background-color: #f1f1f1;
font-size: 12px;
}

.padding-top {
  padding-top: 90px; /* Default for desktop */
  @media screen and (max-width: 768px) {
    padding-top: 150px;  /* Mobile styles */
  }
}

.shadowhover {
  transition: all 0.5s ease-in-out;
}

.shadowhover:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.text {
text-transform: uppercase;
font-family: verdana;
font-size: 2em;
text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
  1px 9px 5px rgba(16,16,16,0.4),
  1px 11px 10px rgba(16,16,16,0.2),
  1px 15px 25px rgba(16,16,16,0.2),
  1px 20px 50px rgba(16,16,16,0.4);
}

.sbtn {
  padding: 10px 20px;
  /*box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

.sbtn:active {
  transform:translateY(3px);
  transition: transform 0.1s ease;

}


.discount-badge {
    position: absolute;
    left: 70%;
    transform: rotate(40deg);
    background: #dc35468e;
    color: #fff;
    padding: 20px 1px;
    border-radius: 0% 90% 100% 90%;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 2px -3px rgba(0, 0, 0, .15);
    }

